<div class="card" style="width: 20rem; , mt-5">
  <div class="card-body">
    <h5 class="card-title">User Profile</h5>
    <p class= "card-text" > Email: <%= @user.email %></p>
    <p class= "card-text" > Name: <%= @user.name %></p>
    <p class="card-text">
    <a href="/" class="btn btn-primary">Go To Home Page</a>
  </div>
</div>