<div class="container">
  <h1>This is Home Page</h1>
  <p>let me know about , the rails !!!</p>
  <%= link_to "About me ",about_path, class:"btn btn-secondary" %> 
  <%= link_to "Blog" ,  user_posts_path , class:"btn btn-primary" %>
</div>